[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2
[submodule "application/modules/core/Auditing/vendor/EntityAudit"]
	path = application/modules/core/Auditing/vendor/EntityAudit
	url = git://github.com/simplethings/EntityAudit
[submodule "vendor/DoctrineModule"]
	path = vendor/DoctrineModule
	url = git://github.com/doctrine/DoctrineModule
[submodule "vendor/DoctrineORMModule"]
	path = vendor/DoctrineORMModule
	url = git://github.com/doctrine/DoctrineORMModule
[submodule "vendor/ZfcBase"]
	path = vendor/ZfcBase
	url = git://github.com/ZF-Commons/ZfcBase
[submodule "vendor/ZfcUser"]
	path = vendor/ZfcUser
	url = git://github.com/toma42/ZfcUser
[submodule "vendor/ZfcUserDoctrineORM"]
	path = vendor/ZfcUserDoctrineORM
	url = git://github.com/toma42/ZfcUserDoctrineORM
