<phpunit bootstrap="./bootstrap.php" backupGlobals="false">
    <testsuite name="Stuki Unit Tests">
        <directory>./application</directory>
    </testsuite>

    <filter>
        <blacklist>
            <directory suffix=".php">../library</directory>
            <exclude>
                <directory suffix=".php">../application/modules/vendor</directory>
            </exclude>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage_report" charset="UTF-8"
            yui="true" hilight="true" lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>
