/* Zend Form Styling */
.zend_form {  
    background:#fff;  
    width:840;  
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:5px auto;  
    padding:0;  
    overflow:auto;  
}  

dl.zend_form {
    width: 80%;
    border: solid;
    border-color: #aaaaaa;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.zend_form dt{  
    padding:0;  
    clear:both;  
    width:20%;  
    float:left;  
    text-align:right;  
    margin:5px 12px 5px 0;  
    font-weight: bold;
}  

.zend_form dd{  
    padding:0;  
    float:left;
    text-align:left;
    width:68%;  
    margin:5px 2px 5px 0;  
}  

.zend_form ul.errors li {
    margin: 0 0.15em;
    color: #ff0000;
    list-style-type:none; 
}

.zend_form p{  
    padding:0;  
    margin:0;  
}  

.zend_form p.description {
    font-style:italic; 
}

.zend_form input, .zend_form textarea{  
    margin:0 0 2px 0;  
    padding:0;  
}  

/* Form Errors */
ul.form-errors li {
    list-style-type:none; 
}

ul.form-errors ul.errors li {
    color: #ff0000;
    list-style-type:none; 
    font-size: 15pt;
    text-align: center;
}

/* Styling for item details */
dl.entity_view
{
    background:#fff;  
    width:840;  
    border-radius: 15px;
    margin:5px auto;  
    padding:0;  
    overflow:auto;  
    margin: 1em 0;
    padding: 0;
    text-align: left;
}

.entity_view dt {
    text-align: right;
    color: gray;
    clear: both;
    width: 10em;
    float: left;
    margin: 0 0 0 0;
    padding: .5em;
    font-weight: bold;
}

.entity_view dd
{
    float: left;
    margin: 0 0 0 0;
    padding: .5em;
}

										.entity_view p.description {
    margin: 5px;
    margin-left: 20px;
    font-style:italic; 
}


/* End Zend_Form */

/* These are for reference tables */
table.reference {
	width: 100%;
	border: solid;
	border-width: 1px; 
	margin-bottom: 5px;
}

table.reference tr { 
	font-weight: normal; 
}

ul.breadcrumb {
    margin: 0px;
    padding: 0px;
    
    list-style: none; 
    overflow: hidden; 
}
ul.breadcrumb li { 
    float: left; 
}
ul.breadcrumb li a {
    color: white;
    text-decoration: none; 
    padding: 6px 0 6px 55px;
    background: brown;                   /* fallback color */
    background: hsla(34,85%,35%,1); 
    position: relative; 
    display: block;
    float: left;
}
ul.breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}   
ul.breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
}   
ul.breadcrumb li:first-child a {
    padding-left: 10px;
}
ul.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
ul.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
ul.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
ul.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
ul.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
ul.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
ul.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
ul.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
ul.breadcrumb li:last-child a {
    background: transparent !important;
    color: white;
    pointer-events: none;
    cursor: default;
}
ul.breadcrumb li:last-child a:after { border: 0; }
ul.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
ul.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }
